/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.props {
    margin-top: 11px;
    text-align: center;
    font-weight: 700;
}

.main{
    margin: 9px;
    font-size: 23px;
    background-color: violet;
    font-weight: 700;
}

.new-main {
    margin: 9px;
    margin-top: 9px;
    background-color: rgb(210, 198, 30);
    font-size: 23px;
    font-weight: 700;
}


 */

.App {
  text-align: center;
}

.name {
  color: red;
}

.text {
  text-align: center;
}

.list {
  text-align: center;
  background-color: bisque;
}

.app {
  font-weight: 700;
  font-size: 39px;
}

/* .button {
  font-size: 33px;
} */

.practice {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
}

.practice:hover {
  color: rgb(74, 162, 216);
}

.main {
  text-align: center;
  margin: 9px;
  font-size: 23px;
  font-weight: 700;
}

.jsx h4 {
  display: inline-block;
  text-decoration: underline;
  margin-right: 13px;
  color: coral;
}

.router {
  color: blue;
}

.marks {
  color: sienna;
}
